*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: aqua;
    width: 100%;
    height: 1250px;
}
.a1{
    background-color: darkgoldenrod;
    width: 80%;
    height: 250px;
    margin: 0 10%;
}
.a2{
    background-color: chocolate;
    height: 200px;
    width: 30%;
    float: left;
    margin: 0 30px;
    margin-top: 20px;
}
.a3{
    background-color: goldenrod;
    height: 200px;
    width: 50%;
    float: right;
    margin: 0 70px;
    margin: 20px;
}
.a4{
    background-color: coral;
    height: 80px;
    width: 90%;
    margin: 10px;
    margin-left: 30px;
}
.a5{
    background-color: brown;
    height: 80px;
    width: 90%;
    margin: 10px;
    margin-left: 30px;
}
.b1{
    background-color: burlywood;
    height: 250px;
    width: 80%;
    margin: 0 10%;
    padding-top: 40px;
}
.b2{
    background-color: darkkhaki;
    height: 180px;
    width: 50%;
    margin: 0 auto;
}
.b3{
    background-color: white;
    height: 70px;
    width: 60%;
    margin:  0px auto;
    margin-left: 165px;
}
.c1{
    background-color: chocolate;
    height: 250px;
    width: 80%;
    margin: 0 10%;
    padding-top: 20px;
    
}
.c2{
    background-color: rgb(43, 25, 3);
    height: 200px;
    width: 40%;
    float: left;
    margin: 0 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.c3{
    width: 20%;
    height: 180px;
    background-color: brown;
    float: left;
}
.c4{
    background-color: burlywood;
    height: 100px;
    width: 30%;
    /* margin: 0px 180px; */
    margin-top: 40px;
    float: right;
    padding-right: 20px;
}
.c5{
    background-color: darkkhaki;
    float: right;
    height: 220px;
    width: 30%;
    margin-right: 30px;
}
.c6{
    background-color: white;
    height: 90px;
    width: 70%;
    margin-left: 40px;
    margin-top: 5px;
}
.c7{
    background-color: white;
    height:90px;
    width: 70%;
    margin-left: 40px;
    margin-top: 20px;
}
.d1{
    background-color: darkgoldenrod;
    height: 250px;
    width: 80%;
    margin: 0 10%;
    padding-top: 30px;
}
.d2{
    background-color: darkkhaki;
    height: 200px;
    width: 20%;
    float: left;
    
    margin-left: 40px;
}
   .d3{
    background-color: darkkhaki;
    height: 200px;
    width: 20%;
    float: left;
  margin-left: 100px;
} 
.d4{
    background-color: darkkhaki;
    height: 200px;
    width: 20%;
    float: right;
    margin-right: 100px;
    
}
.d5{
    background-color: cornsilk;
    height: 100px;
    width: 40%;
    margin-left: 30px;
    margin-top: 30px;
}
.d6{
    background-color: beige;
    height: 100px;
    width: 40%;
    margin-left: 30px;
    margin-top: 30px;
}
.d7{
    background-color: blanchedalmond;
    height: 100px;
    width: 40%;
    margin-left: 30px;
    margin-top: 30px;
}
    

